# Node / React
node_modules/
dist/
build/
.cache/
.npm/
npm-debug.log*
yarn-error.log*
*.zip
*.rar
*.7z

# IDE
.idea/
*.iml
out/

# Env & secrets
.env
.env.*

# Logs
*.log
logs/
tmp/

# Java / Maven
target/
